<template>
  <v-container v-if="isAdmin">
    <v-row>
      <v-col cols="12">
        <h2>Companies/Байгууллагууд</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" class="d-flex justify-end mb-4">
        <v-btn color="primary" @click="openAddCompanyDialog">Админ компани нэмэх</v-btn>
      </v-col>
    </v-row>

    <v-card>
      <v-table class="pb-4">
        <thead>
          <tr>
            <th class="text-left">Байгууллагын нэр</th>
            <th class="text-left">Хаяг</th>
            <th class="text-left">Item Count</th>
            <th class="text-left">Үйлдэл</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="company in companies" :key="company._id">
            <td>{{ company.name }}</td>
            <td>{{ company.addresses[0] }}</td>
            <td>{{ company.itemCount }}</td>
            <td>
              <v-btn color="primary" @click="openEditDialog(company)">Edit</v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>

    <!-- Edit Dialog -->
    <v-dialog v-model="editDialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Edit Company</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="editForm">
            <v-text-field
              v-model="selectedCompany.name"
              label="Байгууллагын нэр"
              required
            ></v-text-field>
            <v-text-field
              v-model="selectedCompany.newAddress"
              label="Хаяг"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeEditDialog">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="saveCompany">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Add Company Dialog -->
    <v-dialog v-model="addCompanyDialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Админ компани нэмэх</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="addCompanyForm">
            <v-text-field
              v-model="newCompany.name"
              label="Байгууллагын нэр"
              required
            ></v-text-field>
            <v-text-field
              v-model="newCompany.address"
              label="Хаяг"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeAddCompanyDialog">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="saveNewCompany">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
  <div v-else>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-alert type="error">You do not have permission to view this page.</v-alert>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      companies: [],
      editDialog: false,
      addCompanyDialog: false,
      selectedCompany: {
        _id: '',
        name: '',
        addresses: [''],
        newAddress: ''
      },
      newCompany: {
        name: '',
        address: ''
      },
      isAdmin: false
    };
  },
  methods: {
    getAuthHeaders() {
      const token = localStorage.getItem('token'); // Adjust this to however you store your token
      return {
        headers: {
          Authorization: `Bearer ${token}`
        }
      };
    },
    async fetchCompanies() {
      try {
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/companies`, this.getAuthHeaders());
        this.companies = response.data.companies.map(company => ({
          ...company,
          itemCount: company.itemCount || 0 // Default to 0 if itemCount is not provided
        }));
        console.log('Fetched companies with item counts:', this.companies);
      } catch (error) {
        console.error('Error fetching companies:', error);
      }
    },
    openEditDialog(company) {
      this.selectedCompany = { ...company, newAddress: '' };
      this.editDialog = true;
    },
    closeEditDialog() {
      this.editDialog = false;
      this.selectedCompany = {
        _id: '',
        name: '',
        addresses: [''],
        newAddress: ''
      };
    },
    async saveCompany() {
      try {
        const response = await axios.put(`${useRuntimeConfig().public.base_url}/companies/${this.selectedCompany._id}`, {
          name: this.selectedCompany.name,
          newAddress: this.selectedCompany.newAddress
        }, this.getAuthHeaders());
        const index = this.companies.findIndex(company => company._id === this.selectedCompany._id);
        if (index !== -1) {
          this.companies.splice(index, 1, response.data.company);
        }
        this.closeEditDialog(); // Close the dialog after saving
      } catch (error) {
        console.error('Error updating company:', error);
      }
    },
    openAddCompanyDialog() {
      this.addCompanyDialog = true;
    },
    closeAddCompanyDialog() {
      this.addCompanyDialog = false;
      this.newCompany = {
        name: '',
        address: ''
      };
    },
    async saveNewCompany() {
      try {
        const response = await axios.post(
          `${useRuntimeConfig().public.base_url}/companies`,
          {
            name: this.newCompany.name,
            addresses: [this.newCompany.address],
          },
          this.getAuthHeaders()
        );
        this.companies.push(response.data.company);
        this.closeAddCompanyDialog();
      } catch (error) {
        console.error('Error creating company:', error);
      }
    }
  },
  mounted() {
    const role = localStorage.getItem('role');
    this.isAdmin = role === 'admin';
    if (this.isAdmin) {
      this.fetchCompanies();
    }
  }
};

</script>

<style scoped>
/* Add any additional styling here if needed */
</style>
