<template> 
  <div> 
    <h2 style="padding-bottom: 20px;">Welcome back,<strong style="text-transform: uppercase; font-weight: 800;" >{{ firstName }}</strong></h2>    
    <v-container max-height="400px">      
      <v-row class="blue-background d-flex" align="center">  
        <v-col cols="12" md="8" >  
          <div class="text-sec">  
            <div style="font-weight: 800; font-size: 45px;">{{ companyName }}</div>  
          <h2>Assets management system</h2>  
          </div>  
        </v-col>  
        <v-col cols="12" md="4">  
          <img src="https://png.pngtree.com/png-clipart/20230214/ourmid/pngtree-notepad-with-pencil-3d-icon-png-image_6599873.png" alt="Таны Зураг" class="right-aligned-image">  
        </v-col>  
      </v-row>  
      <!--         
      <v-row>  
        <v-col cols="12" md="6" class="ma-0 mt-4">  
          <v-card class="glass-card">  
            <v-card-text>  
            </v-card-text>  
          </v-card>  
        </v-col>  
          
        <v-col cols="12" md="6" class="ma-0 mt-4">  
          <v-card class="glass-card">  
            <v-card-text>  
            </v-card-text>  
          </v-card>  
        </v-col>  
      </v-row> -->  
    </v-container>  
  </div>  
</template> 
 
<script>  
export default {  
  name: "MyComponent",  
  data() { 
    return { 
      firstName: localStorage.getItem('firstName'), 
      companyName: localStorage.getItem('companyName') 
    }; 
  } 
};  
</script>  
 
<style scoped>  
.text-sec{  
  color: white;  
  margin: 20% 5%; 
}  
.text-center {  
  text-align: center;  
}  
.blue-background {  
  background: linear-gradient(to right, #6e6eff, #a8a8ff); 
  border-radius: 20px;  
}  
.right-aligned-image {  
  float: right;  
  max-width: 100%;  
}  
.glass-card {  
  background: rgba(255, 255, 255, 0.3);  
  backdrop-filter: blur(10px);  
  border-radius: 10px;  
  padding: 16px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}  
</style>