<template>
  <v-container>
    <v-row class="mb-4">
      <v-col cols="6">
        <h2>Users/Хэрэглэгч</h2>
      </v-col>
      <v-col cols="6" class="d-flex justify-end">
        <v-btn color="primary" v-if="isAdmin" @click="openAddUserDialog">Админ хэрэглэгч нэмэх</v-btn>
      </v-col>
    </v-row>

    <v-card v-if="isAdmin && pendingUsers.length > 0" class="mt-6 pb-1">
      <v-table height="auto" class="">
        <thead class="t-header">
          <tr>
            <th class="text-left">Овог</th>
            <th class="text-left">Нэр</th>
            <th class="text-left email-cell">И-мэйл</th>
            <th class="text-left">Утас</th>
            <th class="text-left">Approve</th>
            <th class="text-left">Decline</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in pendingUsers" :key="item.email">
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td class="email-cell">{{ item.email }}</td>
            <td>{{ item.phoneNumber }}</td>
            <td><v-btn color="primary" @click="openApproveDialog(item)">Approve</v-btn></td>
            <td>
              <v-btn outlined color="error" @click="declineUser(item)">Decline</v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    
    <v-card class="mt-8">
      <v-table height="auto" class="">
        <thead class="t-header">
          <tr>
            <th class="text-left">№</th>
            <th class="text-left">Avatar</th>
            <th class="text-left">Овог</th>
            <th class="text-left">Нэр</th>
            <th class="text-left email-cell">И-мэйл</th>
            <th class="text-left">Утас</th>
            <th class="text-left">Төлөв</th>
            <th class="text-left">Байгууллагын нэр</th>
            <th class="text-left">Албан тушаал</th>
            <th class="text-left" v-if="isAdmin">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in paginatedApprovedUsers" :key="item.email">
            <td>{{ (currentPage - 1) * itemsPerPage + index + 1 }}</td>
            <td>
              <v-avatar size="40">
                <img :src="item.avatar || defaultImage" alt="Avatar" class="avatar-img ">
              </v-avatar>
            </td>
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td class="email-cell">{{ item.email }}</td>
            <td>{{ item.phoneNumber }}</td>
            <td>
              <v-chip :color="getColor(item.active)">
                {{ item.active ? 'Active' : 'Inactive' }}
              </v-chip>
            </td>
            <td>{{ item.companyName }}</td>
            <td>{{ item.role }}</td>
            <td v-if="isAdmin">
              <v-btn color="primary" @click="openEditDialog(item)">Edit</v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>

    <v-pagination
      v-model="currentPage"
      :length="totalPages"
      circle
      class="mt-6"
    ></v-pagination>

    <!-- Approve Dialog -->
    <v-dialog v-model="dialog" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">Approve User</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-select
              v-model="selectedUser.companyName"
              :items="companyNames"
              label="Байгууллагын нэр"
              required
            ></v-select>
            <v-select
              v-model="selectedUser.role"
              :items="roles"
              label="Албан тушаал"
              required
            ></v-select>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeDialog">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="confirmApprove">Approve</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Edit Dialog -->
    <v-dialog v-model="editDialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Edit User</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="editForm">
            <v-text-field
              v-model="selectedUser.lastName"
              label="Овог"
              required
            ></v-text-field>
            <v-text-field
              v-model="selectedUser.firstName"
              label="Нэр"
              required
            ></v-text-field>
            <v-text-field
              v-model="selectedUser.email"
              label="И-мэйл"
              required
            ></v-text-field>
            <v-text-field
              v-model="selectedUser.phoneNumber"
              label="Утас"
              required
            ></v-text-field>
            <v-select
              v-model="selectedUser.companyName"
              :items="companyNames"
              label="Байгууллагын нэр"
              required
            ></v-select>
            <v-select
              v-model="selectedUser.role"
              :items="roles"
              label="Албан тушаал"
              required
            ></v-select>
            <v-file-input
              v-model="selectedUser.avatar"
              label="Avatar"
              accept="image/*"
              prepend-icon="mdi-camera"
            ></v-file-input>
            <v-text-field
              :type="passwordFieldType"
              v-model="selectedUser.password"
              label="Нууц үг"
              append-icon="mdi-eye"
              @click:append="togglePasswordVisibility"
            >
              <template v-slot:append-outer>
                <v-icon @click="togglePasswordVisibility">{{ passwordFieldType === 'password' ? 'mdi-eye' : 'mdi-eye-off' }}</v-icon>
                <v-icon @click="copyPassword">mdi-content-copy</v-icon>
              </template>
            </v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeEditDialog">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="saveUser">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Add User Dialog -->
    <v-dialog v-model="addUserDialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Админ хэрэглэгч нэмэх</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="addUserForm">
            <v-row>
              <v-col cols="6">
                <v-text-field
                  v-model="newUser.lastName"
                  label="Овог"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="newUser.firstName"
                  label="Нэр"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-text-field
              v-model="newUser.email"
              label="И-мэйл"
              required
            ></v-text-field>
            <v-text-field
              v-model="newUser.phoneNumber"
              label="Утас"
              required
            ></v-text-field>
            <v-select
              v-model="newUser.companyName"
              :items="companyNames"
              label="Байгууллагын нэр"
              required
            ></v-select>
            <v-select
              v-model="newUser.role"
              :items="roles"
              label="Албан тушаал"
              required
            ></v-select>
            <v-file-input
              v-model="newUser.avatar"
              label="Avatar"
              accept="image/*"
              prepend-icon="mdi-camera"
            ></v-file-input>
            <v-text-field
              :type="passwordFieldType"
              v-model="newUser.password"
              label="Нууц үг"
              append-icon="mdi-eye"
              @click:append="togglePasswordVisibility"
            >
              <template v-slot:append-outer>
                <v-icon @click="togglePasswordVisibility">{{ passwordFieldType === 'password' ? 'mdi-eye' : 'mdi-eye-off' }}</v-icon>
                <v-icon @click="copyNewPassword">mdi-content-copy</v-icon>
              </template>
            </v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeAddUserDialog">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="saveNewUser">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      pendingUsers: [],
      approvedUsers: [],
      companyNames: [],
      roles: ['admin', 'employee', 'none'], // Update this list according to your role enums
      dialog: false,
      editDialog: false,
      addUserDialog: false,
      selectedUser: {},
      newUser: {
        lastName: '',
        firstName: '',
        email: '',
        phoneNumber: '',
        companyName: '',
        role: '',
        avatar: '',
        password: ''
      },
      passwordFieldType: 'password',
      isAdmin: false,
      currentPage: 1,
      itemsPerPage: 10,
      defaultImage: 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png'
    };
  },
  computed: {
    paginatedApprovedUsers() {
      const start = (this.currentPage - 1) * this.itemsPerPage;
      const end = start + this.itemsPerPage;
      return this.approvedUsers.slice(start, end);
    },
    totalPages() {
      return Math.ceil(this.approvedUsers.length / this.itemsPerPage);
    }
  },
  methods: {
    getColor(active) {
      return active ? 'success' : 'error';
    },
    getAuthHeaders() {
      const token = localStorage.getItem('token'); // Adjust this to however you store your token
      return {
        headers: {
          Authorization: `Bearer ${token}`
        }
      };
    },
    async fetchPendingUsers() {
      try {
        console.log('Fetching pending users...');
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/users/pending`, this.getAuthHeaders());
        console.log('Pending users response:', response.data);
        this.pendingUsers = response.data;
      } catch (error) {
        console.error('Error fetching pending users:', error);
      }
    },
    async fetchAllUsers() {
      try {
        console.log('Fetching all users...');
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/users/all`, this.getAuthHeaders());
        console.log('All users response:', response.data);
        const { activeUsers, nonActiveUsers, declinedUsers } = response.data;
        this.approvedUsers = [...activeUsers, ...nonActiveUsers, ...declinedUsers];
        this.pendingUsers = nonActiveUsers;
      } catch (error) {
        console.error('Error fetching all users:', error);
      }
    },
    async fetchApprovedUsers() {
      try {
        console.log('Fetching approved users...');
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/users/active`, this.getAuthHeaders());
        console.log('Approved users response:', response.data);
        this.approvedUsers = response.data;
      } catch (error) {
        console.error('Error fetching approved users:', error);
      }
    },
    async fetchCompanyNames() {
      try {
        console.log('Fetching company names...');
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/companies`, this.getAuthHeaders());
        console.log('Company names response:', response.data);
        console.log('Response structure:', JSON.stringify(response.data, null, 2)); // Log the exact structure
        
        if (response.data.companies && Array.isArray(response.data.companies)) {
          this.companyNames = response.data.companies.map(company => company.name);
        } else {
          console.error('Unexpected response format:', response.data);
        }
      } catch (error) {
        console.error('Error fetching company names:', error);
      }
    },
    openApproveDialog(user) {
      this.selectedUser = { ...user }
      this.dialog = true
    },
    closeDialog() {
      this.dialog = false
      this.selectedUser = {}
    },
    async confirmApprove() {
      try {
        await axios.post(`${useRuntimeConfig().public.base_url}/users/admin/approve`, {
          userId: this.selectedUser._id,
          companyName: this.selectedUser.companyName,
          role: this.selectedUser.role
        }, this.getAuthHeaders());
        this.fetchPendingUsers();
        this.fetchApprovedUsers();
        this.closeDialog();
      } catch (error) {
        console.error('Error approving user:', error);
      }
    },
    async declineUser(user) {
      try {
        await axios.post(`${useRuntimeConfig().public.base_url}/users/admin/decline`, {
          userId: user._id
        }, this.getAuthHeaders());
        this.fetchPendingUsers();
      } catch (error) {
        console.error('Error declining user:', error);
      }
    },
    openEditDialog(user) {
      this.selectedUser = { ...user }
      this.editDialog = true
    },
    closeEditDialog() {
      this.editDialog = false
      this.selectedUser = {}
    },
    async saveUser() {
      try {
        await axios.put(`${useRuntimeConfig().public.base_url}/users/admin/update/${this.selectedUser._id}`, this.selectedUser, this.getAuthHeaders());
        this.fetchApprovedUsers();
        this.closeEditDialog();
      } catch (error) {
        console.error('Error saving user:', error);
      }
    },
    copyPassword() {
      navigator.clipboard.writeText(this.selectedUser.password).then(() => {
        console.log('Password copied to clipboard');
      });
    },
    copyNewPassword() {
      navigator.clipboard.writeText(this.newUser.password).then(() => {
        console.log('Password copied to clipboard');
      });
    },
    togglePasswordVisibility() {
      this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password';
    },
    openAddUserDialog() {
      this.addUserDialog = true;
    },
    closeAddUserDialog() {
      this.addUserDialog = false;
      this.newUser = {
        lastName: '',
        firstName: '',
        email: '',
        phoneNumber: '',
        companyName: '',
        role: '',
        avatar: '',
        password: ''
      };
    },
    async saveNewUser() {
      try {
        await axios.post(`${useRuntimeConfig().public.base_url}/users/admin/add`, this.newUser, this.getAuthHeaders());
        this.fetchApprovedUsers();
        this.closeAddUserDialog();
      } catch (error) {
        console.error('Error saving new user:', error);
      }
    },
    async getCurrentUser() {
      try {
        console.log('Fetching current user...');
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/users/me`, this.getAuthHeaders());
        console.log('Current user response:', response.data);
        const user = response.data;
        this.isAdmin = user.role === 'admin';
        if (this.isAdmin) {
          await this.fetchAllUsers();
          await this.fetchCompanyNames();
          await this.fetchPendingUsers(); // Ensure to fetch pending users if admin
        } else {
          this.newUser.companyName = user.companyName; // Set new user company to current user's company
          await this.fetchApprovedUsersByCompany(user.companyName); // Fetch only users from the same company
        }
      } catch (error) {
        console.error('Error fetching current user:', error);
      }
    },
    async fetchApprovedUsersByCompany(companyName) {
      try {
        console.log(`Fetching approved users for company: ${companyName}...`);
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/users/active/company/${companyName}`, this.getAuthHeaders());
        console.log('Approved users by company response:', response.data);
        this.approvedUsers = response.data;
      } catch (error) {
        console.error(`Error fetching approved users for company: ${companyName}`, error);
      }
    },
    changePage(page) {
      this.currentPage = page;
    }
  },
  mounted() {
    console.log("env/n", process)
    this.getCurrentUser();
  }
}
</script>

<style>
.t-header {
  background-color: #f2f4f9;
}
.email-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.avatar-img {
  width: 40px;
  height: 40px;
  object-fit: contain !important;
}
</style>
