<!-- property-management/property-front/pages/index.vue -->
<script setup lang="ts">
import { useRouter } from 'vue-router';
import { isAuthenticated } from '@/utils/auth';

const router = useRouter();

// Check authentication status on page load
if (isAuthenticated()) {
    router.push('/dashboard');
} else {
    router.push('/auth/Login');
}
</script>

<template>
  <!-- Empty template as this page only handles redirection -->
</template>
