<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <h2>Item/Өмчийн бүртгэл</h2>
      </v-col>
      <v-col cols="6" class="d-flex justify-end mb-4">
        <v-btn v-if="isAdmin" color="primary" @click="openAddItemDialog">Эд зүйл нэмэх</v-btn>
        <v-btn variant="outlined" v-if="isAdmin" class="ml-4" color="primary" @click="exportToCSV">CSV</v-btn>
      </v-col>
    </v-row>

    <v-card>
      <v-table class="elevation-1">
        <template v-slot:default>
          <thead class="t-header">
            <tr>
              <th class="text-left">Эд зүйлийн нэр</th>
              <th class="text-left">Тайлбар</th>
              <th class="text-left">ID дугаар</th>
              <th class="text-left">ID төрөл</th>
              <th class="text-left">Хариуцагч эзэн</th>
              <th class="text-left">Компанийн нэр</th>
              <th class="text-left" v-if="isAdmin">Үйлдэл</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in items" :key="item._id">
              <td>{{ item.itemTaxonName }}</td>
              <td class="email-cell">{{ item.description }}</td>
              <td>{{ item.identifyingNumber }}</td>
              <td>{{ item.identifyingNumberType }}</td>
              <td>{{ item.userResponsible }}</td>
              <td>{{ item.companyName }}</td>
              <td v-if="isAdmin">
                <v-menu bottom left>
                  <template v-slot:activator="{ props }">
                    <v-btn variant="flat" v-bind="props">
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item @click="editItem(item)">
                      <v-list-item-title>Засах</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="viewItemDetails(item)">
                      <v-list-item-title>Дэлгэрэнгүй харах</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </td>
            </tr>
          </tbody>
        </template>
      </v-table>
    </v-card>

    <!-- Add/Edit Item Dialog -->
    <v-dialog v-model="dialog" max-width="700px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ isEdit ? 'Эд зүйл засах' : 'Эд зүйл нэмэх' }}</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-row>
              <v-col cols="12" md="6">
                <v-select
                  v-model="currentItem.companyName"
                  :items="companyNames"
                  label="Компанийн нэр"
                  @change="fetchUsers"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" md="6">
                <v-select
                  v-model="currentItem.userResponsible"
                  :items="filteredUserFirstNames"
                  label="Хариуцагч эзэн"
                  required
                ></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-select
                  v-model="currentItem.itemTaxonName"
                  :items="itemTaxonNames"
                  label="Эд зүйлийн нэр"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="currentItem.description"
                  label="Тайлбар"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-select
                  v-model="currentItem.identifyingNumberType"
                  :items="['serial', 'custom']"
                  label="ID төрөл"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="currentItem.identifyingNumber"
                  label="ID дугаар"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeDialog">Цуцлах</v-btn>
          <v-btn color="blue darken-1" text @click="saveItem">Хадгалах</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- View Item Details Dialog -->
    <v-dialog v-model="viewDialog" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">Эд зүйлийн дэлгэрэнгүй мэдээлэл</span>
        </v-card-title>
        <v-card-text>
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Нэр: {{ currentItem.itemTaxonName }}</v-list-item-title>
                <v-list-item-subtitle>Тайлбар: {{ currentItem.description }}</v-list-item-subtitle>
                <v-list-item-subtitle>Бүртгэлийн дугаар: {{ currentItem.identifyingNumber }}</v-list-item-subtitle>
                <v-list-item-subtitle>Бүртгэлийн дугаарын төрөл: {{ currentItem.identifyingNumberType }}</v-list-item-subtitle>
                <v-list-item-subtitle>Хариуцагч эзэн: {{ currentItem.userResponsible }}</v-list-item-subtitle>
                <v-list-item-subtitle>Компанийн нэр: {{ currentItem.companyName }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeViewDialog">Хаах</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      items: [],
      itemTaxons: [],
      users: [],
      companies: [],
      dialog: false,
      viewDialog: false,
      isEdit: false,
      currentItem: {
        itemTaxonName: '',
        description: '',
        identifyingNumber: '',
        identifyingNumberType: '',
        userResponsible: '',
        companyName: '',
      },
      isAdmin: false
    };
  },
  computed: {
    itemTaxonNames() {
      return this.itemTaxons.map(item => item.name);
    },
    userFirstNames() {
      return this.users.map(user => user.firstName);
    },
    companyNames() {
      return this.companies.map(company => company.name);
    },
    filteredUserFirstNames() {
      return this.users.filter(user => user.companyName === this.currentItem.companyName).map(user => user.firstName);
    }
  },
  methods: {
    getAuthHeaders() {
      const token = localStorage.getItem('token');
      return {
        headers: {
          Authorization: `Bearer ${token}`
        }
      };
    },
    openAddItemDialog() {
      this.isEdit = false;
      this.resetCurrentItem();
      this.dialog = true;
    },
    editItem(item) {
      this.isEdit = true;
      this.currentItem = { ...item };
      this.dialog = true;
    },
    viewItemDetails(item) {
      this.currentItem = { ...item };
      this.viewDialog = true;
    },
    closeDialog() {
      this.dialog = false;
      this.resetCurrentItem();
    },
    closeViewDialog() {
      this.viewDialog = false;
    },
    resetCurrentItem() {
      this.currentItem = {
        itemTaxonName: '',
        description: '',
        identifyingNumber: '',
        identifyingNumberType: '',
        userResponsible: '',
        companyName: '',
      };
    },
    async saveItem() {
      if (!this.currentItem.description.trim()) {
        console.log('Description is required');
        return;
      }
      try {
        console.log('Saving item:', this.currentItem);
        if (this.isEdit) {
          const response = await axios.put(`${useRuntimeConfig().public.base_url}/items/${this.currentItem._id}`, this.currentItem, this.getAuthHeaders());
          const index = this.items.findIndex(i => i._id === this.currentItem._id);
          if (index !== -1) {
            this.$set(this.items, index, response.data.item);
          }
        } else {
          const response = await axios.post(`${useRuntimeConfig().public.base_url}/items`, this.currentItem, this.getAuthHeaders());
          this.items.push(response.data.item);
        }
        this.closeDialog();
      } catch (error) {
        console.error('Error saving item:', error.response ? error.response.data : error);
      }
    },
    async fetchItems() {
      try {
        const params = this.isAdmin ? {} : { companyName: localStorage.getItem('companyName') };
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/items/list`, {
          params,
          ...this.getAuthHeaders()
        });
        console.log('Fetched items:', response.data.items);
        this.items = Array.isArray(response.data.items) ? response.data.items : [];
      } catch (error) {
        console.error('Error fetching items:', error.response ? error.response.data : error);
      }
    },
    async fetchItemTaxons() {
      try {
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/itemTaxons/all`, this.getAuthHeaders());
        console.log('Fetched item taxons:', response.data);
        this.itemTaxons = Array.isArray(response.data) ? response.data : [];
      } catch (error) {
        console.error('Error fetching item taxons:', error);
      }
    },
    async fetchUsers() {
      try {
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/users/all`, this.getAuthHeaders());
        console.log('Fetched users:', response.data);
        this.users = Array.isArray(response.data.activeUsers) ? response.data.activeUsers : [];
      } catch (error) {
        console.error('Error fetching users:', error);
      }
    },
    async fetchCompanies() {
      try {
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/companies`, this.getAuthHeaders());
        console.log('Fetched companies:', response.data.companies);
        this.companies = Array.isArray(response.data.companies) ? response.data.companies : [];
      } catch (error) {
        console.error('Error fetching companies:', error);
      }
    },
    async exportToCSV() {
      try {
        const params = this.isAdmin ? {} : { companyName: localStorage.getItem('companyName') };
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/items/export/csv`, {
          responseType: 'blob',
          params,
          ...this.getAuthHeaders()
        });
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'items.csv');
        document.body.appendChild(link);
        link.click();
      } catch (error) {
        console.error('Error exporting to CSV:', error);
      }
    },
    checkAdmin() {
      const role = localStorage.getItem('role');
      this.isAdmin = role === 'admin';
    }
  },
  async mounted() {
    this.checkAdmin();
    await Promise.all([
      this.fetchItems(),
      this.fetchItemTaxons(),
      this.fetchUsers(),
      this.fetchCompanies()
    ]);
  }
}
</script>

<style>
.t-header{
  background-color: #f2f4f9;
}
.email-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
</style>
