<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h2>Item Taxons/Эд зүйлсийн ангилал</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" class="d-flex justify-end mb-4">
        <v-btn v-if="isAdmin" color="primary" @click="openAddItemDialog">Эд зүйлийн төрөл нэмэх</v-btn>
      </v-col>
    </v-row>

    <v-card>
      <v-table class="pb-4">
        <thead>
          <tr>
            <th class="text-left">Эд зүйлийн нэр</th>
            <th class="text-left">Тоо ширхэг</th>
            <th class="text-left">Тайлбар</th>
            <th class="text-left" v-if="isAdmin">Үйлдэл</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" :key="item._id">
            <td>{{ item.name }}</td>
            <td>{{ item.amtPieces }}</td>
            <td>{{ item.description }}</td>
            <td v-if="isAdmin">
              <v-btn color="primary" @click="editItem(item)">Засах</v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>

    <!-- Add/Edit Item Dialog -->
    <v-dialog v-model="dialog" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ isEdit ? 'Эд зүйл засах' : 'Эд зүйлийн төрөл нэмэх' }}</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-text-field
              v-model="currentItem.name"
              label="Эд зүйлийн нэр"
              required
            ></v-text-field>
            <v-text-field
              v-model="currentItem.description"
              label="Тайлбар"
            ></v-text-field>
            <v-select
              v-model="currentItem.type"
              :items="['office', 'it', 'other']"
              label="Төрөл"
              required
            ></v-select>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeDialog">Цуцлах</v-btn>
          <v-btn color="blue darken-1" text @click="saveItem">Хадгалах</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      items: [],
      dialog: false,
      isEdit: false,
      currentItem: {
        _id: null,
        name: '',
        description: '',
        type: ''
      },
      isAdmin: false // Add isAdmin to data
    };
  },
  methods: {
    getAuthHeaders() {
      const token = localStorage.getItem('token'); // Ensure this matches your token storage method
      if (!token) {
        console.error('No token found in localStorage');
        return {};
      }
      return {
        headers: {
          Authorization: `Bearer ${token}`
        }
      };
    },
    openAddItemDialog() {
      this.isEdit = false;
      this.currentItem = {
        _id: null,
        name: '',
        description: '',
        type: ''
      };
      this.dialog = true;
    },
    editItem(item) {
      this.isEdit = true;
      this.currentItem = { ...item };
      this.dialog = true;
    },
    closeDialog() {
      this.dialog = false;
      this.currentItem = {
        _id: null,
        name: '',
        description: '',
        type: ''
      };
    },
    async saveItem() {
      if (this.currentItem.name.trim() === '') {
        console.log('Invalid input');
        return;
      }
      try {
        if (this.isEdit) {
          console.log('Updating item:', this.currentItem);
          await axios.put(`${useRuntimeConfig().public.base_url}/itemTaxons/${this.currentItem._id}`, this.currentItem, this.getAuthHeaders());
          const index = this.items.findIndex(i => i._id === this.currentItem._id);
          if (index !== -1) {
            this.items[index] = { ...this.currentItem };
          }
        } else {
          console.log('Adding new item:', this.currentItem);
          const response = await axios.post(`${useRuntimeConfig().public.base_url}/itemTaxons`, this.currentItem, this.getAuthHeaders());
          console.log('Response from server:', response.data);
          this.items.push(response.data.itemTaxon);
        }
        this.closeDialog();
      } catch (error) {
        console.error('Error saving item:', error.response ? error.response.data : error);
      }
    },
    async fetchItems() {
      try {
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/itemTaxons/all`, this.getAuthHeaders());
        this.items = response.data;
      } catch (error) {
        console.error('Error fetching items:', error);
        if (error.response && error.response.status === 401) {
          console.error('Unauthorized: Please check your authentication token');
        }
      }
    },
    checkAdmin() {
      const role = localStorage.getItem('role');
      this.isAdmin = role === 'admin';
    }
  },
  mounted() {
    this.checkAdmin();
    this.fetchItems();
  }
}
</script>

<style>
/* Add any additional styling here if needed */
</style>
