<template>
  <v-container>
    <v-row class="mb-4">
      <v-col cols="6">
        <h2>Миний Профайл</h2>
      </v-col>
      <v-col cols="6" class="d-flex justify-end">
        <v-btn color="primary" @click="openEditDialog">Профайлыг засах</v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" md="12">
        <v-card class="mx-auto d-flex align-center pa-4">
          <v-avatar size="130" class="mx-4">
            <v-img :src="user.avatar || defaultImage"></v-img>
          </v-avatar>
          <div>
            <h3>{{ user.firstName }} {{ user.lastName }}</h3>
          </div>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" md="12">
        <v-card>
          <v-card-text>
            <v-list-item>
              <div class="garchig">Хувийн мэдээлэл</div>
            </v-list-item>
            <v-row>
              <v-col cols="6">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>Овог</v-list-item-title>
                    <v-list-item-subtitle>{{ user.firstName }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
              <v-col cols="6">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>Нэр</v-list-item-title>
                    <v-list-item-subtitle>{{ user.lastName }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>И-мэйл</v-list-item-title>
                    <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
              <v-col cols="6">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>Утасны дугаар</v-list-item-title>
                    <v-list-item-subtitle>{{ user.phoneNumber }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="12">
        <v-card>
          <v-card-text>
            <v-list-item>
              <div class="garchиг">Компанийн мэдээлэл</div>
            </v-list-item>
            <v-row>
              <v-col cols="6">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>Компаний нэр</v-list-item-title>
                    <v-list-item-subtitle>{{ user.companyName }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
              <v-col cols="6">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>Үүрэг</v-list-item-title>
                    <v-list-item-subtitle>{{ user.role }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <!-- Edit Profile Dialog -->
    <v-dialog v-model="editDialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Профайлыг засах</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="editForm">
            <v-row>
              <v-col cols="12" class="text-center">
                <v-avatar size="120" class="mx-auto mb-4">
                  <v-img :src="imageUrl || user.avatar || defaultImage"></v-img>
                </v-avatar>
                <v-text-field
                  v-model="imageUrl"
                  label="Зургийн линк оруулах"
                  prepend-icon="mdi-link"
                  @change="onImageLinkChange"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <v-text-field
                  v-model="user.firstName"
                  label="Нэр"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="user.lastName"
                  label="Овог"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <v-text-field
                  v-model="user.email"
                  label="И-мэйл"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="user.phoneNumber"
                  label="Утасны дугаар"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeEditDialog">Цуцлах</v-btn>
          <v-btn color="blue darken-1" text @click="saveUser">Хадгалах</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      user: {
        firstName: '',
        lastName: '',
        email: '',
        phoneNumber: '',
        companyName: '',
        role: '',
        avatar: null,
        _id: ''
      },
      imageUrl: '',
      roles: ['admin', 'employee', 'none'],
      editDialog: false,
      defaultImage: 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png'
    };
  },
  methods: {
    getAuthHeaders() {
      const token = localStorage.getItem('token'); // Adjust this to however you store your token
      return {
        headers: {
          Authorization: `Bearer ${token}`
        }
      };
    },
    async fetchUserProfile() {
      try {
        console.log('Fetching user profile...');
        const response = await axios.get(`${useRuntimeConfig().public.base_url}/users/me`, this.getAuthHeaders());
        console.log('User profile response:', response.data);
        this.user = response.data;
        this.imageUrl = this.user.avatar; // Initialize imageUrl with the current image
      } catch (error) {
        console.error('Error fetching user profile:', error);
      }
    },
    openEditDialog() {
      this.editDialog = true;
      this.imageUrl = this.user.avatar; // Initialize imageUrl with the current image
    },
    closeEditDialog() {
      this.editDialog = false;
    },
    onImageLinkChange() {
      this.user.avatar = this.imageUrl; // Update user avatar with the new image URL
    },
    async saveUser() {
      try {
        console.log('Saving user profile...');
        await axios.put(`${useRuntimeConfig().public.base_url}/users/update/${this.user._id}`, this.user, this.getAuthHeaders());
        await this.fetchUserProfile(); // Fetch the updated profile after saving
        this.closeEditDialog();
      } catch (error) {
        console.error('Error saving user profile:', error);
      }
    }
  },
  mounted() {
    this.fetchUserProfile();
  }
};
</script>

<style>
  .garchig {
  font-size: 16px;
  font-weight: 700;
}
</style>

