<script setup> 
import Icon from '../Icon.vue'; 
import { useRouter } from 'vue-router'; 
const props = defineProps({ item: Object, level: Number }); 
 
const router = useRouter(); 
 
const performAction = () => { 
  if (props.item.action === 'logout') { 
    // Token-ыг устгах 
    localStorage.clear(); 
    console.log("logout");
    // Нүүр хуудасруу чиглүүлэх 
    router.push('/auth/Login'); 
  } 
}; 
</script> 
 
<template> 
  <!---Single Item--> 
  <v-list-item 
    :to="item.to" 
    rounded 
    class="mb-1" 
    active-color="primary" 
    :disabled="item.disabled" 
    :target="item.type === 'external' ? '_blank' : ''" 
    @click="performAction"  
  > 
    <!---If icon--> 
    <template v-slot:prepend> 
      <Icon :item="item.icon" :level="level" /> 
    </template> 
    <v-list-item-title>{{ item.title }}</v-list-item-title> 
    <!---If Caption--> 
    <v-list-item-subtitle v-if="item.subCaption" class="text-caption mt-n1 hide-menu"> 
      {{ item.subCaption }} 
    </v-list-item-subtitle> 
    <!---If any chip or label--> 
    <template v-slot:append v-if="item.chip"> 
      <v-chip 
        :color="item.chipColor" 
        class="sidebarchip hide-menu" 
        :size="'small'" 
        :variant="item.chipVariant" 
        :prepend-icon="item.chipIcon" 
      > 
        {{ item.chip }} 
      </v-chip> 
    </template> 
  </v-list-item> 
</template>