.text-sec[data-v-e0b9c599]{color:#fff;margin:20% 5%}.text-center[data-v-e0b9c599]{text-align:center}.blue-background[data-v-e0b9c599]{background:linear-gradient(90deg,#6e6eff,#a8a8ff);border-radius:20px}.right-aligned-image[data-v-e0b9c599]{float:right;max-width:100%}.glass-card[data-v-e0b9c599]{-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px);background:hsla(0,0%,100%,.3);border-radius:10px;box-shadow:0 4px 8px #0000001a;padding:16px}
