<template>
    <div>
      <NuxtPage />
    </div>
  </template>
  
  <script setup lang="ts">
  definePageMeta({
    layout: 'auth'
  })
  </script>
  
  
  <style scoped>
  /* Add any additional styling here if needed */
  </style>
  