// ===============================|| Blank Layout ||=============================== //
<script setup lang="ts">
import { RouterView } from "vue-router";
</script>
<template>
  <v-app>
    <AuthLoginForm></AuthLoginForm>
  </v-app>
</template>
