<template>
    <v-menu :close-on-content-click="false">
      <template v-slot:activator="{ props }">
        <v-btn class="profileBtn custom-hover-primary" variant="text" v-bind="props" icon>
          <v-avatar size="35">
            <v-img :src="userImage" height="35" alt="user" />
          </v-avatar>
        </v-btn>
      </template>
      <v-sheet rounded="md" width="200" elevation="10" class="mt-2">
        <v-list class="py-0" lines="one" density="compact">
          <v-list-item value="item1" active-color="primary">
            <template v-slot:prepend>
              <UserIcon stroke-width="1.5" size="20"/>
            </template>
            <router-link to="/MyProfile" style="text-decoration: none; color: black;">
              <v-list-item-title class="pl-4 text-body-1">My Profile</v-list-item-title>
            </router-link>
          </v-list-item>
          <v-list-item value="item3" active-color="primary"> 
            <template v-slot:prepend>
              <ListCheckIcon stroke-width="1.5" size="20"/>
            </template>
            <router-link to="/MyItems" style="text-decoration: none; color: black;">
              <v-list-item-title class="pl-4 text-body-1">My Items</v-list-item-title>
            </router-link>
          </v-list-item>
        </v-list>
        <div class="pt-4 pb-4 px-5 text-center">
          <v-btn to="/auth/login" color="primary" variant="outlined" block>Logout</v-btn>
        </div>
      </v-sheet>
    </v-menu>
  </template>
  
  <script setup lang="ts">
  import { ref, onMounted } from 'vue';
  import { UserIcon, MailIcon, ListCheckIcon } from 'vue-tabler-icons';
  import axios from 'axios';
  
  const userImage = ref('');
  
  const defaultImage = 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png';
  
  const getAuthHeaders = () => {
    const token = localStorage.getItem('token'); // Adjust this to however you store your token
    return {
      headers: {
        Authorization: `Bearer ${token}`
      }
    };
  };
  
  const fetchUserProfile = async () => {
    try {
      const response = await axios.get('https://asset.boom.mn/api/users/me', getAuthHeaders());
      userImage.value = response.data.avatar || defaultImage;
    } catch (error) {
      console.error('Error fetching user profile:', error);
      userImage.value = defaultImage;
    }
  };
  
  onMounted(fetchUserProfile);
  </script>
  