<template>
  <div class="authentication">
    <v-container fluid class="pa-0">
      <v-row class="h-100vh d-flex justify-center align-center">
        <v-col cols="12" lg="6" xl="4" class="d-flex align-center">
          <v-card rounded="md" elevation="10" class="px-sm-1 px-0 withbg mx-auto" max-width="500">
            <v-card-item class="pa-sm-10">
              <div class="d-flex justify-center py-4">
                <LayoutFullLogoLogo />
              </div>
              <div class="text-body-1 text-muted text-center mb-3">Бүртгэлийн систем</div>
              <AuthLoginForm @submit="loginUser" />
              <h6 class="text-h6 text-muted font-weight-medium d-flex justify-center align-center mt-3">
                Шинэ хэрэглэгч үү?
              </h6>
              <NuxtLink to="/auth/Register" class="text-primary text-decoration-none d-flex justify-center align-center mt-5 text-body-1 opacity-1 font-weight-medium pl-2">
                Бүртгэл үүсгэх
              </NuxtLink>
            </v-card-item>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script setup>
import axios from 'axios'
import { ref } from 'vue'
import { useRouter } from 'vue-router'
// import LayoutFullLogo from '~/components/LayoutFullLogo.vue'
import LoginForm from '~/components/auth/LoginForm.vue'

definePageMeta({
  layout: 'auth'
})
const router = useRouter()

const loginUser = async ({ credential, password }) => {
  try {
    const response = await axios.post(`${useRuntimeConfig().public.base_url}/users/login`, {
      credential,
      password,
    })
    const { token, user } = response.data
    localStorage.setItem('token', token);
    localStorage.setItem('companyName', user.companyName);
    localStorage.setItem('role', user.role);
    localStorage.setItem('firstName',user.firstName);
      router.push('/dashboard') 
  } catch (error) {
    console.error('Error logging in:', error.response ? error.response.data.message : error.message)
  }
}
</script>

<!-- <script setup>
definePageMeta({
  layout: 'auth'
})
</script> -->

<style scoped>
/* Add any additional styling here if needed */
</style>
