<template> 
  <div class="authentication"> 
    <v-container fluid class="pa-3"> 
      <v-row class="h-100vh d-flex justify-center align-center"> 
        <v-col cols="12" lg="6" xl="6" class="d-flex align-center"> 
          <v-card rounded="md" elevation="10" class="px-sm-1 px-0 withbg mx-auto" max-width="500"> 
            <v-card-item class="pa-sm-8"> 
              <div class="d-flex justify-center py-4"> 
                
              </div> 
              <div class="text-body-1 text-muted text-center mb-3">Бүртгэлийн систем</div> 
              <AuthRegisterForm @submit="registerUser" /> 
              <h6 class="text-h6 text-muted font-weight-medium d-flex justify-center align-center mt-3"> 
                Аль хэдийн бүртгэлтэй юу? 
                <NuxtLink to="/auth/login" class="text-primary text-decoration-none text-body-1 opacity-1 font-weight-medium pl-2"> 
                  Нэвтрэх 
                </NuxtLink> 
              </h6> 
            </v-card-item> 
          </v-card> 
      </v-col> 
    </v-row> 
  </v-container> 
  </div> 
</template> 
 
<style scoped> 
/* Add any additional styling here if needed */ 
</style>
<script setup>
import axios from 'axios'
import { useRouter } from 'vue-router'

definePageMeta({
  layout: 'auth'
})

const router = useRouter()

const registerUser = async ({ surname, name, email, phoneNumber, password }) => {
  try {
    const response = await axios.post(`${useRuntimeConfig().public.base_url}/users/register`, {
      firstName: surname,
      lastName: name,
      email,
      password,
      phoneNumber,
    })
    router.push('/auth/login')
  } catch (error) {
    console.error('Error registering user:', error.response ? error.response.data.message : error.message)
    // Show error notification (you can use a library like Vuetify's Snackbar for this)
  }
}
</script>

<style scoped>
/* Add any additional styling here if needed */
</style>
