<script setup lang="ts">
import { ref, defineEmits } from 'vue';

const credential = ref('');
const password = ref('');

const emit = defineEmits(['submit']);

const submitForm = () => {
  emit('submit', { credential: credential.value, password: password.value });
};
</script>

<template>
  <v-row class="d-flex mb-3">
    <v-col cols="12">
      <v-label class="font-weight-bold mb-1">Хэрэглэгчийн нэр</v-label>
      <v-text-field
        variant="outlined"
        hide-details
        color="primary"
        placeholder="Утасны дугаар эсвэл И-мэйл"
        v-model="credential"
      ></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-label class="font-weight-bold mb-1">Нууц үг</v-label>
      <v-text-field
        variant="outlined"
        type="password"
        hide-details
        color="primary"
        placeholder="Нууц үг"
        v-model="password"
      ></v-text-field>
    </v-col>
    <v-col cols="12" class="pt-0">
      <v-btn color="primary" size="large" block flat @click="submitForm">Нэвтрэх</v-btn>
    </v-col>
  </v-row>
</template>


<style scoped>
/* Add any additional styling here if needed */
</style>
