<script setup lang="ts">
import { ref, defineEmits } from 'vue';

const surname = ref('');
const name = ref('');
const email = ref('');
const phoneNumber = ref('');
const password = ref('');

const emit = defineEmits(['submit']);

const submitForm = () => {
  emit('submit', {
    surname: surname.value,
    name: name.value,
    email: email.value,
    phoneNumber: phoneNumber.value,
    password: password.value,
  });
};
</script>

<template>
  <v-row class="d-flex mb-3">
    <v-col cols="6">
      <v-label class="font-weight-bold mb-1">Овог</v-label>
      <v-text-field variant="outlined" hide-details color="primary" placeholder="Овог оруулна уу" v-model="surname"></v-text-field>
    </v-col>
    <v-col cols="6">
      <v-label class="font-weight-bold mb-1">Нэр</v-label>
      <v-text-field variant="outlined" hide-details color="primary" placeholder="Нэрээ оруулна уу" v-model="name"></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-label class="font-weight-bold mb-1">И-мэйл хаяг</v-label>
      <v-text-field variant="outlined" type="email" hide-details color="primary" placeholder="И-мэйл хаягаа оруулна уу" v-model="email"></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-label class="font-weight-bold mb-1">Утасны дугаар</v-label>
      <v-text-field variant="outlined" type="tel" hide-details color="primary" placeholder="Утасны дугаараа оруулна уу" v-model="phoneNumber"></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-label class="font-weight-bold mb-1">Нууц үг</v-label>
      <v-text-field variant="outlined" type="password" hide-details color="primary" placeholder="Нууц үгээ оруулна уу" v-model="password"></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-btn color="primary" size="large" block flat @click="submitForm" >Бүртгүүлэх</v-btn>
    </v-col>
  </v-row>
</template>
